@media only screen and (max-width: 768px) {
  footer {
    padding-top: 22px;
    padding-bottom: 40px;
    margin-top: 0px !important;

    .lastparry {
      img {
        width: 25px;
      }

      span {
        font-size: 32.49px;
      }
    }
    .logos {
      align-content: space-between;
      width: 185px;
      height: 85px;
      flex-wrap: wrap;
      .uchinari {
        display: block;
        background-color: transparent;
      }
    }

    .copyright {
      margin-top: 42px;
    }
  }
}
