@media only screen and (max-width:1024px) { 

    .navbar {
        display: none;
    }
    
    .menu { 
        display: block;
        margin-right: 26px;
    }
    .logofirst { 
        margin-left: 25px;
        transform: translateX(0px) !important;
    }
    
    .firstcontainer {
        width: 100%;
        justify-content: space-between;
    }
}