header {
    width: 100%;
  
    height: 760px;
    position: relative;
    
    background-image: url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/F_WATER_10B.jpg?crop=0,259,4621,2541&wid=4000&hei=2200&scl=1.15525);
}
.secondcontainer { 
   
    height: 232px;
    color: white;
    margin: auto;
    transform: translate(0%,100%);
    display: flex;
    flex-direction: column;
   
}
.secondfirst { 
    font-size: 62px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: auto;

}
.secondsecond { 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 74px;
    margin: auto;
    
}
.secondthird {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: auto;
    font-weight: 300;
   
}
.firstbutton {
    background-color: #45bbff;
    width: 144px;
    height: 44px;
    border: 1px solid white;
    outline: 3px solid #45bbff;
    margin: auto;
    margin-top: 40px;
   
}
.firstbutton span {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    padding: 31px;
    line-height: 44px;
    color: white;
 
}


.leftarrow {
top:39%;
left: 2%;
position: absolute;
width: 23px;
height: 37px;
}
.rightarrow { 
top:39%;
position: absolute;
right: 2%;
width: 23px;
height: 37px;
}
