.section4 { 
    position: relative;
    width: 100%;
    margin-top: 87.8px;
}
.contactcontainer { 
  
    margin: auto;
}
.header4 { 
    margin:auto;
    width: 154px;
    height: 67.25px;
    font-size:31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #323232;
}
.header4 img { 
    width:16px;
    height: 16px;
}
    .tvini {
        padding-left:520px;
        padding-right: 520px;
    }
.adress { 
    display: flex;
    
    height: 146px;
    justify-content: space-between;
    margin:auto;
    padding-top: 87px;
}   
.adress div {
    width: 229px;
   
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.imgloc img{
        width: 26px;
        height: 34px;
     }
.adresses1 { 
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #606060;
}
.adresses2 { 
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #606060;
}
.imgmail img{
    width: 30px;
    height: 22px;
 }
 .imgsup img{
    width: 48px;
    height: 32px;
 }

 .connector {
     margin-top: -45px;
     line-height: 29px;
 }
 .support {
     margin-right: 18px;
 }

 .fields {
     height: 260px;
     display: grid;
     width: 100%;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(5,1fr);
     grid-column-gap:10px;
     grid-row-gap: 10px;
     margin-top:127px;
     
    
 }
 .fields div {
     border: 1px solid #D4D4D4;
     padding: 14px 0px 16px 11px ;
     font-size:15px;
     font-family: 'Raleway', 'sans-serif';
     color: #7C7C7C;
     transform: translateX(-30px);
 }
 .firstfield { 
     grid-row: 1/1;
     grid-column: 1/2;
 }
 .secondfield { 
    grid-row: 1/1;
    grid-column: 2/3;
}
.thirdfield { 
    grid-row: 2/2;
    grid-column: 1/3;
}
.fourfield { 
    grid-row: 3/6;
    grid-column: 1/3;
}
.submit {
    width: 160px;
    height: 42px;
    background-color:#3AB6B2;
    text-align:center;
    margin-top: 47px;
    transform: translateX(-30px);
}
.submit span { 
    font-family: 'Raleway', 'sans-serif';
    font-size: 13px;
    font-weight: bold;
    color: white;

    line-height: 42px;
}



